body{
    /* background-color: black; */
    color: white;
    background-image: url('/background_image.jpg');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scroll */
    background-position: center; /* Centers the image */
    font-family: 'poppins';
}

.heading{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.designation,
.name{
    color: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 90px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.designation{
    margin: 30px 0px 0px 0px;
}

.text {
    display: none;
    margin: 5px 0;
    font-size: 14px;
}

.button-19 {
    appearance: button;
    background-color: #808080; /* Grey color */
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    position: relative; /* Added to position the pseudo-element */
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #A9A9A9; /* Light grey color */
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }
  